:root {
   /*Custom Property Advanced Property*/
   --backgroundcolor: black;
   --fontcolor: white;
   --accentcolor: wheat;

}

.navbar {
   background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
   /*Gradient Advanced Property*/
   margin: 0;
   height: 15vw;
   border: solid 1vw var(--backgroundcolor);
   margin-block-end: 2px;
   padding-inline: 5vw;
   text-align: center;

}

main {
   background-color: var(--backgroundcolor);

}

.bizname {
   color: var(--accentcolor);
   font-family: Playfair Display, sans-serif;
   text-align: center;
   font-size: 9vw;
   font-variant: small-caps;
   padding-inline-start: 3vw;

}



ul li a {
   text-decoration: none;
   display: inline-block;
   color: var(--fontcolor);
   font-weight: 1000;
   padding: 2vw;
   font-size: 2vw;
   text-align: center;



}

ul li {
   display: inline-block;
   margin-inline-start: 10px;

}

.slogan {
   color: white;
   font-size: 2em;
   display: flex;
   padding-inline-start: 3vw;
   padding-inline-end: 3vw;
   font-variant: small-caps;
}

.welcoming {
   color: white;
   font-size: 2em;
   font-weight: 1000;
   padding-inline-start: 3vw;
   padding-inline-end: 3vw;
   margin-block: 3vw;




}

.speciality {
   color: var(--accentcolor);
   font-style: italic;
   font-weight: 1000;
   font-size: 1em;
}

.logo {
   width: 30vw;
   padding-inline-start: 3vw;
   padding-inline-end: 3vw;
   padding-block-start: 3vw;
}

.gridimages {
   display: grid;
}

.slogan {
   background-color: rgb(104, 66, 10);
   border: solid var(--fontcolor) 3px;
   margin-inline-start: 10px;
   margin-inline-end: 10px;


   border-radius: 3vw;
}

a:hover {
   /*Pseudo-class Advanced Property*/
   text-decoration: underline;

   color: wheat;
}

.coffeecups {
   display: grid;
   /*Grid Advanced Property*/
   grid-template-columns: repeat(1, 1fr);
   justify-items: center;
   gap: 2em;
   overflow: auto;
}

.coffeecups .gridimages {
   position: relative;
   border-radius: 2rem;
   border: 2px solid white;
   max-width: 600px;
   width: 90%;
   height:auto;
   margin-inline-start: 3em;
   align-items: center;
   float: right;
   /*Images floated for home page*/
}

footer {
   text-align: center;

}

.number,
.email {
   list-style-type: none;
   text-decoration: none;
   text-align: center;
   color: white;


   font-size: 3vw;

}

.email {

   text-align: center;
}

address p {
   color: var(--fontcolor);
   text-align: center;
   font-size: 2em;
}


.firstsource,
.secondsource,
a {
   color: var(--fontcolor);
   text-align: center;
}

.button {

   text-align: center;
   margin-block: 12vw;



}

.menulink {
   color: white;
   border-radius: 5px;
   border: 20px solid rgb(104, 66, 10);
   background-color: rgb(104, 66, 10);
   text-decoration: none;
   font-size: 2em;
   padding: 8px;
   font-weight: 1000;
   font-family: Sail, sans-serif;
}

.menunav {
   background-color: gray;
   height: 150px;
   padding-block-start: 10px;
   text-align: center;
}

.menubody {
   background-color: black;
}

.menutitle {
   color: var(--fontcolor);
   text-align: center;
   font-family: Sail, sans-serif;
   font-size: 10em;
}

.yellowcup {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 20%;
   margin-block-start: 1vw;
}

.coffeemenu {
   color: white;
   overflow-x: auto;
   margin-block: 8vw;
}

table {
   width: 100%;
   border-collapse: collapse;


}

th,
td {
   padding: 10px;
   text-align: center;
   border: 5px solid wheat;
   font-size: calc(2vw + 3px);
   font-family: Croissant, sans-serif;

}

.snacksmenu {
   color: white;


}

.envirsection {
   background-color: wheat;
   border: solid 2px;
   border-radius: 8px;


}

.envircommitment {
   font-family: Sail, sans-serif;
   font-weight: 900;
   font-size: 3em;
   text-align: center;
   color: rgb(10, 88, 10);



}

.footprint {
   font-size: 2em;
   padding-inline: 10%;
   font-weight: 600;

}

.treeimg {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 70%;
   padding: 3vw;
}

.areaoffocus {
   text-align: center;
   font-size: 2em;
   font-weight: 800;
   padding-inline: 2.5vw;
}

.areaoffocus>h2 {
   text-align: center;
   font-family: Sail, sans-serif;
   font-weight: 900;
   font-size: 3em;
   color: rgb(10, 88, 10);
}

.packaging {
   margin-block-start: 4em;
   float: left;
   padding-inline-start: 25%;
   font-size: 3vw;
   font-weight: 800;
   



}

.browncup {
   width: 25%;
   float: left;
}

.envirbody {
   background-color: lightblue;
}

.peopleintro {
   text-align: center;
   padding-inline: 7em;

}
.peopletitle{
   font-variant: small-caps;
   font-size: 2em;
}
.peoplebody{
   background-color: var(--accentcolor);
}
.peopleintro>p{
   font-size: 2em;
}
.community{
   border: 5px solid ;
   border-radius: 8px;
   background-color: black ;
   margin-block: 5vw;

}
.dedicated{
   color:white;
   padding-inline: 5vw;
   font-size: 2.5vw;
}
.community>h2{
   color:var(--fontcolor);
   text-align: center;
   font-size: 3em;
   font-family: Rochester, sans-serif;

}
.coffeedesign{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width:30%;
}
@media (min-width:768px){
   .coffeecups {
      grid-template-columns: 1fr;  /* Ensure it's still a single column */
      gap: 3em;  /* Increase gap for larger screens */
  }

  .coffeecups .gridimages {
      max-width: 800px;  /* Allow images to scale larger on bigger screens */
  }
}

   


   
